@import "../../styles/globals.scss";

form {
  position: relative;
  display: block;
  width: 100%;

  @include md {
    width: 40%;
    margin-left: auto;
  }

  input[type="reset"] {
    padding: 8px 8px;
    margin-top: 8px;
    border: none;
    text-decoration: none;
    color: $gray;
    border-radius: 4px;
    cursor: pointer;
  }
}
