@import "../../styles/globals.scss";

.container {
  margin-bottom: 48px;

  h1 {
    font-weight: 600;
    font-size: 24px;
    color: $black;
  }
  p {
    font-weight: 300;
    letter-spacing: 0.05em;
    color: $gray;
  }
}
