@import "../../styles/globals.scss";

.container {
  max-width: 1200px;
  padding: 64px 24px 24px 24px;
  margin: 0 auto;

  @include md {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  hr {
    height: 0px;
    margin-top: 32px;
    margin-bottom: 24px;
    border: none;
    border-top: 1px solid #e8e8e8;
  }
}
