@import "../../styles/globals.scss";

:root {
  --table_padding: 16px;
}

.container {
  width: 100%;
  //MOBILE

  img {
    width: 24px;
    height: 24px;

    border-radius: 24px;
  }

  &_userFiles {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
    font-weight: 200;
    font-size: 14px;
    color: $light_gray;
    cursor: pointer;

    &_username {
      font-weight: 400;
      color: $gray;
    }
  }

  &_card {
    margin-bottom: 24px;
    padding: 24px 24px 32px 24px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(172, 172, 172, 0.25);
    border-radius: 4px;

    &_topBar {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: 16px;
      margin-bottom: 32px;

      h2 {
        margin: 0;
        font-weight: 600;
        font-size: 16px;
        color: $black;
      }
    }

    &_body {
      margin-bottom: 24px;

      &_name {
        font-weight: 400;
        color: $gray;
      }
      &_description {
        font-weight: 300;
        color: $light_gray;
      }
    }

    &_bottomBar {
      a {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        color: $black;
      }
    }
  }

  //DESKTOP
  table {
    width: 100%;
    margin-top: 24px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 12px rgba(151, 151, 151, 0.18);
    border-radius: 4px;

    thead {
      color: $gray;
      background: #f2f2f2;

      border: 1px solid #f5f5f5;

      th {
        padding: var(--table_padding);

        th:nth-of-type(1) {
          width: 25%;
        }
        th:nth-of-type(2) {
          width: 50%;
        }
        th:nth-of-type(3) {
          width: 25%;
        }
      }
    }

    tbody {
      tr {
        padding: var(--table_padding);
        border: 1px solid #000;

        th {
          width: 25%;
          font-weight: 600;
          font-size: 16px;
          color: $black;
        }

        td,
        th {
          padding: var(--table_padding);
          text-align: center;
          border: 1px solid #f5f5f5;
        }
      }

      td:nth-of-type(1) {
        width: 50%;
      }

      td:nth-of-type(2) {
        width: 25%;
        cursor: pointer;
      }
    }
  }
}
